$basic-margin: 15px;
$basic-padding: $basic-margin;
$basic-border: 1px solid #DCDFE6;
$basic-size: 12px;
$color-main: #409EFF;
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$text-main: #303133;
$text-basic: #606266;
$radius-small: 2px;
$radius-middle: 4px;
$radius-big: 30px;