.mar-all{
    margin: 15px;
}
.mar-no{
    margin: 0;
}
.mar-lft{
    margin-left: 15px;
}
.mar-rgt{
    margin-right: 15px;
}
.mar-top{
    margin-top: 15px;
}
.mar-btm{
    margin-bottom: 15px;
}
.mar-hor{
    margin-left: 15px;
    margin-right: 15px;
}
.mar-ver{
    margin-top: 15px;
    margin-bottom: 15px;
}
.pad-all{
    padding: 15px;
}
.pad-no{
    padding: 0;
}
.pad-lft{
    padding-left: 15px;
}
.pad-rgt{
    padding-right: 15px;
}
.pad-top{
    padding-top: 15px;
}
.pad-btm{
    padding-bottom: 15px;
}
.pad-hor{
    padding-left: 15px;
    padding-right: 15px;
}
.pad-ver{
    padding-top: 15px;
    padding-bottom: 15px;
}
.bord-all{
    border: 1px solid #e6e6e6;
}
.bord-no{
    border: none;
}
.bord-lft{
    border-left: 1px solid #e6e6e6;
}
.bord-rgt{
    border-right: 1px solid #e6e6e6;
}
.bord-top{
    border-top: 1px solid #e6e6e6;
}
.bord-btm{
    border-bottom: 1px solid #e6e6e6;
}
.bord-hor{
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.bord-ver{
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.clearfix:after{
    display: table;
    content: " ";
    clear: both;
}
.text-center{
    text-align: center;
}
a,
.color-main{
    color: #409EFF;
}
.bg-color-main{
    background-color: #409EFF;
}